.JobAccessory.Popover {
  padding: $unit-2x;
  min-width: 40vw;
  max-width: 40vw;

  @include breakpoint(tablet) {
    width: 100%;
    max-width: initial;
  }

  @include breakpoint(phone) {
    padding: $unit;
    width: 100%;
    max-width: initial;
  }

  .Accessories {
    display: grid;
    gap: $unit;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));

    @include breakpoint(tablet) {
      grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));
      gap: 0;
    }
  }
}
