.Header {
  display: flex;
  margin-bottom: $unit-2x;
  width: 100%;

  &.bottom {
    position: sticky;
    bottom: $unit * 2;
  }

  #right > div {
    display: flex;
    gap: 8px;
  }

  .dropdown {
    display: inline-block;
    position: relative;

    &:hover {
      padding-right: 50px;

      .Button {
        background: var(--button-bg-hover);
        color: var(--button-text-hover);
      }

      .Menu {
        display: block;
      }
    }
  }

  .push {
    margin-left: auto;
  }
}
