#Header {
    display: flex;
    height: 34px;
    width: 100%;

    #right {
        display: flex;
        gap: 8px;
    }

    .dropdown {
        display: inline-block;
        position: relative;

        &:hover {
            padding-right: 50px;
            padding-bottom: 16px;

            .Button {
                background: white;
            }

            .Menu {
                display: block;
            }        
        }
    }

    .push {
        margin-left: auto;
    }
}
