.SelectTrigger {
  align-items: center;
  background-color: var(--input-bg);
  border-radius: $input-corner;
  border: none;
  display: flex;
  padding: $unit-2x $unit-2x;

  &.modal {
    background-color: var(--select-modal-bg);

    &:hover {
      background-color: var(--select-modal-bg-hover);
    }
  }

  &:hover {
    background-color: var(--input-bg-hover);
    color: var(--text-primary);
    cursor: pointer;

    &[data-placeholder] > span:not(.SelectIcon) {
      color: var(--text-primary);
    }
  }

  &[data-placeholder] > span:not(.SelectIcon) {
    color: var(--text-secondary);
  }

  & > span:not(.SelectIcon) {
    color: var(--text-primary);
    flex-grow: 1;
    font-size: $font-regular;
    text-align: left;
  }

  .SelectIcon {
    display: flex;
    align-items: center;

    svg {
      fill: var(--icon-secondary);
    }
  }
}

.Select {
  background: var(--select-bg);
  border-radius: $input-corner;
  border: $hover-stroke;
  box-shadow: $hover-shadow;
  padding: 0 $unit;
  z-index: 40;

  .Scroll.Up,
  .Scroll.Down {
    padding: $unit 0;
    text-align: center;

    &:hover svg {
      fill: var(--icon-secondary-hover);
    }

    svg {
      fill: var(--icon-secondary);
    }
  }

  .Scroll.Up {
    transform: scale(1, -1);
  }
}
