.input {
  -webkit-font-smoothing: antialiased;
  background-color: var(--input-bg);
  border: 2px solid transparent;
  border-radius: $input-corner;
  box-sizing: border-box;
  display: block;
  padding: calc($unit-2x - 2px);
  width: 100%;

  &[type='number']::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }

  &:focus {
    border: 2px solid $blue;
    outline: none;
  }

  &.bound {
    background-color: var(--input-bound-bg);

    &:hover {
      background-color: var(--input-bound-bg-hover);
    }

    &::placeholder {
      /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: var(--text-tertiary) !important;
    }
  }

  &.AlignRight {
    text-align: right;
  }

  &.Hidden {
    display: none;
  }
}

.inputError {
  color: $error;
  font-size: $font-tiny;
  margin: $unit 0;
  padding: calc($unit / 2) ($unit * 2);
  min-width: 100%;
  width: 0;
}

.input::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--text-secondary);
  opacity: 1; /* Firefox */
}
