.Login.DialogContent {
  gap: $unit;
  min-width: $unit * 52;

  form {
    display: flex;
    flex-direction: column;
    gap: calc($unit / 2);
    margin-bottom: $unit-3x;
    padding: 0 $unit-3x;
  }
}
