.Login.Dialog form {
  display: flex;
  flex-direction: column;
  gap: calc($unit / 2);
  margin-bottom: $unit;

  .Button {
    font-size: $font-regular;
    padding: ($unit * 1.5) ($unit * 2);
    width: 100%;

    &.btn-disabled {
      background: $grey-90;
      color: $grey-70;
      cursor: not-allowed;
    }

    &:not(.btn-disabled) {
      background: $grey-90;
      color: $grey-50;

      &:hover {
        background: $grey-80;
      }
    }
  }

  input {
    background: $grey-90;
  }
}
