.ChangelogUnit {
  display: flex;
  flex-direction: column;
  gap: $unit-half;

  img {
    border-radius: $input-corner;
    width: 100%;
  }

  h4 {
    font-size: $font-small;
    font-weight: $medium;
    text-align: center;
  }
}
