.Fieldset {
  border: none;
  display: inline-flex;
  flex-direction: column;
  padding: 0;
  margin: 0 0 $unit 0;

  .Input {
    -webkit-font-smoothing: antialiased;
    border: none;

    background-color: $grey-100;
    border-radius: 6px;
    box-sizing: border-box;
    color: $grey-10;
    display: block;
    font-size: $font-regular;
    padding: 12px 16px;
    width: 100%;
  }

  .InputError {
    color: $error;
    font-size: $font-tiny;
    margin: $unit 0;
    padding: calc($unit / 2) ($unit * 2);
  }
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #a9a9a9 !important;
  opacity: 1; /* Firefox */
}
