#CharacterGrid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  max-width: 761px;

  @include breakpoint(tablet) {
    align-items: center;
  }
}

#grid_characters {
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  gap: $unit;
  margin: 0;
  padding: 0;
  max-width: 761px;
  isolation: isolate;

  @include breakpoint(tablet) {
    justify-content: space-between;
    width: 100%;
  }

  & > li:last-child {
    margin: 0;
  }
}
