#CharacterGrid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  max-width: 761px;
}

#grid_characters {
  display: flex;
  margin: 0;
  padding: 0;
  max-width: 761px;
  isolation: isolate;

  @include breakpoint(tablet) {
    justify-content: space-between;
    width: 100%;
  }

  & > * {
    margin-right: $unit * 3;

    @include breakpoint(tablet) {
      margin-right: inherit;
    }
  }

  & > li:last-child {
    margin: 0;
  }
}
