.SummonGrid {
    display: flex;
    justify-content: center;
}

#grid_summons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 24px 0 0;
    padding: 0;
    width: 344px;
}

#grid_summons > * {
    margin-bottom: 24px;
    margin-right: 24px;

}

#grid_summons > *:nth-child(2n+2) {
    margin-right: 0;
}

#grid_summons > li {
    list-style: none;
}