.Duration {
  align-items: center;
  background: var(--input-bound-bg);
  border: 2px solid transparent;
  border-radius: $input-corner;
  display: flex;
  padding: 0 calc($unit-2x - 2px);

  &:hover {
    background: var(--input-bound-bg-hover);
  }

  &:focus-within {
    border: 2px solid $blue;
    outline: none;
  }

  .Input {
    background: transparent;
    border: none;
    padding: 0;
    width: initial;
    height: 100%;
    padding: calc($unit-2x - 2px) 0;

    &:hover {
      background: transparent;
    }

    &:focus,
    &:focus-visible {
      border: none;
    }
  }
}
