.WeaponGridUnit {
    display: flex;
    flex-direction: column;
    gap: 4px;
    font-size: 14px;
    max-width: 160px;
}

.WeaponGridUnit .WeaponGridImage {
    display: flex;
    align-items: center;
    justify-content: center;

    background: white;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 8px;
    height: 92px;
    list-style-type: none;
    overflow: hidden;
    transition: all 0.18s ease-in-out;
    width: 160px;
}

.editable .WeaponGridImage:hover {
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: rgba(0, 0, 0, 0.14) 0px 0px 14px;
    cursor: pointer;
    transform: scale(1.1, 1.1);
}

.WeaponGridUnit h3 {
    color: #333;
    font-weight: 500;
    margin: 0;
    text-align: center;
}

.WeaponGridUnit img {
    position: relative;
    width: 100%;
    z-index: 2;
}

.WeaponGridImage .icon {
    position: absolute;
    color: #c9c9c9;
    height: 20px;
    width: 20px;
    z-index: 1;
}

.WeaponGridImage:hover .icon {
    color: #555;
}

.WeaponGridUnit h3,
.WeaponGridUnit ul {
    display: none;
}

.filled h3 {
    display: block;
}

.filled ul {
    display: flex;
}