.PartyNavigation {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  gap: 58px;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: $unit * 3;
  max-width: $grid-width;
  position: relative;

  // prettier-ignore
  @media only screen 
    and (max-width: 550px) 
    and (max-height: 920px) 
    and (-webkit-min-device-pixel-ratio: 2) {
      gap: $unit;
      margin-left: 0;
      margin-right: 0;
      padding: 0 $unit;
      max-width: auto;
      width: 100%;
  }

  @include breakpoint(phone) {
    padding: 0;
  }

  .SegmentedControl {
    gap: $unit;
    flex-grow: 1;

    // prettier-ignore
    @media only screen 
    and (max-width: 550px) 
    and (max-height: 920px) 
    and (-webkit-min-device-pixel-ratio: 2) {
      flex-grow: 1;
      gap: 0;
      width: 100%;
      display: grid;
      grid-template-columns: auto auto auto;
    }
  }
}

.ExtraSwitch {
  color: #888;
  display: flex;
  font-weight: $normal;
  gap: $unit;
  line-height: 34px;
  height: 100%;
  position: absolute;
  right: 0px;
  top: 1px;

  // prettier-ignore
  @media only screen 
    and (max-width: 550px) 
    and (max-height: 920px) 
    and (-webkit-min-device-pixel-ratio: 2) {
    position: static;

    .Text {
      display: none;
    }
  }
}
