.Signup.DialogContent form {
  display: flex;
  flex-direction: column;
  gap: calc($unit / 2);
  margin-bottom: $unit;

  .terms {
    color: $grey-50;
    font-size: $font-small;
    line-height: 1.2;
    margin-top: $unit;
    text-align: center;

    a {
      color: $blue;

      &:hover {
        color: darken($blue, 30);
      }
    }
  }
}
