#ExtraGrid {
  background: var(--extra-purple-bg);
  border-radius: 8px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  margin: 20px auto;
  max-width: 766px;
  padding: 16px 16px 16px 0;
  position: relative;
  left: 8px;

  @include breakpoint(tablet) {
    left: auto;
    max-width: auto;
    width: 100%;
  }

  & > span {
    color: var(--extra-purple-text);
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: center;
    line-height: 1.2;
    font-weight: 500;
    margin-right: 16px;
    text-align: center;
  }

  .grid_weapons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    max-width: 528px;
  }

  .WeaponUnit .WeaponImage {
    background: var(--extra-purple-card-bg);
  }

  .WeaponUnit .WeaponImage .icon svg {
    fill: var(--extra-purple-secondary);
  }
}
