.SelectItem {
  border-radius: $item-corner;
  border: 2px solid transparent;
  color: var(--text-tertiary);
  display: flex;
  gap: $unit;
  font-size: $font-regular;
  padding: ($unit * 1.5) $unit-2x;

  &:hover {
    background-color: var(--option-bg-hover);
    color: var(--text-primary);
    cursor: pointer;
    outline: none;
  }

  &:focus {
    border: 2px solid $blue;
    outline: none;
  }

  &:first-child {
    margin-top: $unit;
  }

  &:last-child {
    margin-bottom: $unit;
  }

  img {
    width: $unit-4x;
    height: auto;
  }
}
