.SelectItem {
  border-radius: $item-corner;
  border: 2px solid transparent;
  color: var(--text-primary);
  font-size: $font-regular;
  padding: ($unit * 1.5) $unit-2x;

  &:hover {
    background-color: var(--option-bg-hover);
    cursor: pointer;
    outline: none;
  }

  &:focus {
    border: 2px solid $blue;
    outline: none;
  }

  &:last-child {
    margin-bottom: $unit;
  }
}
