#WeaponGrid {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @include breakpoint(phone) {
    margin: 0 2px;
  }

  #MainGrid {
    display: grid;
    gap: $unit-3x;
    grid-template-columns: 1.278fr 3fr;
    justify-items: center;
    grid-template-areas:
      'mainhand grid'
      'mainhand grid'
      'mainhand grid';
    max-width: $grid-width;

    @include breakpoint(tablet) {
      gap: $unit-2x;
    }

    @include breakpoint(phone) {
      gap: $unit;
    }
  }

  #Weapons {
    display: grid; /* make the right-images container a grid */
    grid-template-columns: repeat(
      3,
      minmax(0, 1fr)
    ); /* create 3 columns, each taking up 1 fraction */
    grid-template-rows: repeat(
      3,
      1fr
    ); /* create 3 rows, each taking up 1 fraction */
    gap: $unit-3x;

    @include breakpoint(tablet) {
      gap: $unit-2x;
    }

    @include breakpoint(phone) {
      gap: $unit;
    }
  }

  li {
    list-style: none;
  }
}
