.Button {
    -webkit-font-smoothing: antialiased;
    border: none;
    box-shadow: none;

    align-items: center;
    border-radius: 6px;
    display: inline-flex;
    font-family: -apple-system, "Helvetica Neue", "Lucida Grande";
    font-size: 18px;
    font-weight: 500;
    gap: 6px;
    padding: 8px 12px;
}

.Button.btn-grey {
    background: white;
    color: #777;
}

.Button.btn-blue {
    background: #61B3FF;
    color: #315E87;
}

.Button.btn-blue:hover {
    background: #4B9BE5;
    color: #233E56;
}

.Button.btn-disabled {
    background: #e0e0e0;
    color: #bababa;
}

.Button.btn-disabled:hover {
    background: #e0e0e0;
    color: #bababa;
}

.Button .icon {
    color: #c9c9c9;
    height: 12px;
    width: 12px;
}

.Button .text {
    color: inherit;
}

.Button:hover {
    color: #555;
    cursor: pointer;
}