.updates {
  .top {
    display: flex;
    flex-direction: column;
    gap: $unit;
  }

  .yearSelector {
    display: flex;
    flex-direction: row;
    gap: $unit-2x;

    .yearButton {
      background: none;
      border: none;
      font-size: $font-medium;
      font-weight: $bold;
      font-variant-numeric: oldstyle-nums;
      padding: 0;

      &.active {
        color: var(--accent-blue);
      }

      &:hover {
        color: var(--accent-blue);
        cursor: pointer;
      }
    }
  }
}
