.SummonUnit {
  display: flex;
  flex-direction: column;
  gap: 4px;

  &.main .SummonImage,
  &.friend .SummonImage {
    aspect-ratio: 182 / 315;
    width: 182px;
    height: auto;

    @include breakpoint(tablet) {
      width: 20.3vw;
    }
  }

  &.grid {
    // max-width: 148px;
    // min-height: 141px;
    min-height: 180px;

    @include breakpoint(tablet) {
      min-height: 16.5vw;
    }

    .SummonImage {
      aspect-ratio: 148 / 111;
      list-style-type: none;
      width: 148px;
      height: auto;

      @include breakpoint(tablet) {
        width: 20vw;
      }
    }
  }

  &.friend {
    margin-right: 0;
  }

  &.main.editable .SummonImage:hover,
  &.friend.editable .SummonImage:hover {
    transform: $scale-tall;
  }

  &.editable .SummonImage:hover {
    border: $hover-stroke;
    box-shadow: $hover-shadow;
    cursor: pointer;
    transform: $scale-wide;
  }

  .SummonImage {
    background: var(--card-bg);
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: $unit;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: all 0.18s ease-in-out;

    &:hover .icon svg {
      fill: var(--icon-secondary-hover);
    }

    .icon {
      position: absolute;
      height: $unit * 3;
      width: $unit * 3;
      z-index: 1;

      svg {
        fill: var(--icon-secondary);
      }
    }
  }

  &.filled h3 {
    display: block;
  }

  &.filled ul {
    display: flex;
  }

  h3,
  ul {
    display: none;
  }

  h3 {
    color: var(--text-primary);
    font-size: $font-regular;
    font-weight: $normal;
    line-height: 1.1;
    margin: 0;
    text-align: center;
  }

  img {
    position: relative;
    width: 100%;
    z-index: 2;
  }
}
