.SummonUnit {
    display: flex;
    flex-direction: column;
    gap: 4px;

    &.main .SummonImage,
    &.friend .SummonImage {
        aspect-ratio: 182 / 315;
        width: 182px;
        height: auto;

        @media (max-width: $medium-screen) {
            width: 20.3vw;
        }
    }

    &.grid {
        // max-width: 148px;
        // min-height: 141px;
        min-height: 180px;

        @media (max-width: $medium-screen) {
            min-height: 16.5vw;
        }

        .SummonImage {
            aspect-ratio: 148 / 111;
            list-style-type: none;
            width: 148px;
            height: auto;

            @media (max-width: $medium-screen) {
                width: 20vw;
            }
        }
    }

    &.friend {
        margin-right: 0;
    }

    .SummonImage {
        background: white;
        border: 1px solid rgba(0, 0, 0, 0);
        border-radius: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        transition: all 0.18s ease-in-out;

        &:hover .icon {
            color: #555;
        }

        .icon {
            position: absolute;
            height: 20px;
            width: 20px;
            z-index: 1;
    
            svg {
                fill: #c9c9c9;
            }
        }
    }

    &.editable .SummonImage:hover {
        border: 1px solid rgba(0, 0, 0, 0.1);
        box-shadow: rgba(0, 0, 0, 0.14) 0px 0px 14px;
        cursor: pointer;
        transform: $scale-wide;
    }

    &.main.editable .SummonImage:hover,
    &.friend.editable .SummonImage:hover {
        transform: $scale-tall;
    }

    &.filled h3 {
        display: block;
    }

    &.filled ul {
        display: flex;
    }

    h3, ul {
        display: none;
    }

    h3 {
        color: #333;
        font-size: $font-regular;
        font-weight: 500;
        margin: 0;
        text-align: center;
    }

    img {
        position: relative;
        width: 100%;
        z-index: 2;
    }
}
