.Limited {
  $offset: 2px;

  background: var(--input-bg);
  border-radius: $input-corner;
  border: $offset solid transparent;
  box-sizing: border-box;
  display: flex;
  gap: $unit;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-right: calc($unit-2x - $offset);

  &:focus-within {
    border: $offset solid $blue;
    // box-shadow: 0 2px rgba(255, 255, 255, 1);
  }

  .Counter {
    color: $grey-50;
    font-weight: $bold;
    line-height: 42px;
  }

  .Input {
    background: transparent;
    border-radius: 0;
    padding-left: calc($unit-2x - $offset);

    &:focus {
      outline: none;
    }
  }
}
