.Account.Dialog {
  display: flex;
  flex-direction: column;
  gap: $unit * 2;
  width: $unit * 64;

  form {
    display: flex;
    flex-direction: column;
    gap: $unit * 2;
  }

  .DialogDescription {
    font-size: $font-regular;
    line-height: 1.24;
    margin-bottom: $unit;

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}
