.Updates.PageContent {
  padding-bottom: $unit-12x;

  .Version {
    display: flex;
    flex-direction: column;
    gap: $unit-2x;

    h3,
    li,
    p {
    }

    &.Content {
      .Header h3 {
        color: var(--accent-yellow);
      }

      .Contents {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: $unit-4x;

        .characters,
        .weapons,
        .summons {
          display: grid;
          grid-template-rows: auto 1fr;
          gap: $unit;

          & > h4 {
            font-weight: $medium;
            font-size: $font-regular;
          }

          .items {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
            gap: $unit-4x;
          }
        }
      }
    }

    .Header {
      align-items: baseline;
      display: flex;
      gap: $unit-half;
      margin-bottom: $unit-2x;

      h3 {
        color: var(--accent-blue);
        font-weight: $medium;
        font-size: $font-large;
      }

      time {
        color: var(--text-secondary);
        font-size: $font-small;
        font-weight: $medium;
      }
    }

    .Contents {
      display: flex;
      flex-direction: column;
      gap: $unit-4x;

      &.Bare {
        display: flex;
        flex-direction: column;
        color: var(--text-primary);
        list-style-type: disc;
        list-style-position: inside;
        gap: $unit-half;

        li {
          font-size: 14px;
        }
      }

      section {
        display: flex;
        flex-direction: column;
        gap: $unit-2x;

        h2 {
          margin: 0;
        }
      }

      .Notes {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        gap: $unit-2x;

        li {
          display: flex;
          flex-direction: column;
          gap: $unit;

          h3 {
            font-weight: $bold;
            margin-top: $unit-half;
          }

          img {
            aspect-ratio: 4 / 3;
            background: var(--dialog-bg);
            border-radius: $input-corner;
            display: block;
            width: 100%;
          }

          code {
            background: var(--button-bg);
            border-radius: 2px;
            font-family: monospace;
            font-weight: $bold;
            letter-spacing: 0.02rem;
            padding: 1px;
          }
        }
      }

      .Bugs {
        display: flex;
        flex-direction: column;
        list-style-type: disc;
        gap: $unit-half;
        padding-left: $unit-2x;
      }
    }
  }
}
