.Updates.PageContent {
  .version {
    display: flex;
    flex-direction: column;
    gap: $unit-2x;

    &.content {
      .top h3 {
        color: var(--accent-yellow);
      }

      .update {
        display: flex;
        flex-direction: column;
        gap: $unit-2x;
      }

      .characters,
      .weapons,
      .summons {
        display: grid;
        grid-template-rows: 1fr auto;
        gap: $unit;

        & > h4 {
          font-weight: $medium;
          font-size: $font-regular;
        }
      }

      .items {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: $unit-4x;
      }
    }

    .top {
      align-items: baseline;
      display: flex;
      gap: $unit-half;
      margin-bottom: $unit-2x;

      h3 {
        color: var(--accent-blue);
        font-weight: $medium;
        font-size: $font-large;
      }

      time {
        color: var(--text-secondary);
        font-size: $font-small;
        font-weight: $medium;
      }
    }

    .Notes {
      display: grid;
      grid-template-columns: repeat(3, minmax(200px, 1fr));
      gap: $unit-2x;

      li {
        display: flex;
        flex-direction: column;
        gap: $unit;

        h3 {
          font-weight: $bold;
          font-size: $font-regular;
        }

        img {
          aspect-ratio: 4 / 3;
          background: var(--dialog-bg);
          border-radius: $input-corner;
          display: block;
          width: 100%;
        }

        p {
          color: var(--text-primary);
          font-size: 14px;

          code {
            background: var(--button-bg);
            border-radius: 2px;
            font-family: monospace;
            font-weight: $bold;
            letter-spacing: 0.02rem;
            padding: 1px;
          }
        }
      }
    }

    .Bugs {
      display: flex;
      flex-direction: column;
      list-style-type: disc;
      list-style-position: inside;
      gap: $unit;

      li {
        font-size: $font-regular;
      }
    }
  }

  .notes {
    color: var(--text-primary);
    list-style-type: disc;
    list-style-position: inside;

    li {
      margin-bottom: $unit-half;
      font-size: $font-regular;
    }
  }
}
