.Segment {
    border-radius: 4px;
    color: #888;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    min-width: 100px;

    &:hover label {
      background: #f9f9f9;
      color: #555;
    }

    & input {
      display: none;

      &:checked + label {
        background: #2360C5;
        color: white;
      }
    }

    & label {
        display: block;
        text-align: center;
        white-space: nowrap;
        overflow: hidden;
        padding: 8px 12px;
        text-overflow: ellipsis;
        cursor: pointer;

        &:before {
            background: #fff;
        }
    }
}
