.CharacterGrid {
    display: flex;
    justify-content: center;
}

#grid_characters {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    width: 761px;
}

#grid_characters > * {
    margin-bottom: 24px;
    margin-right: 24px;

}

#grid_characters > li {
    list-style: none;
}

#grid_characters > li:last-child {
    margin: 0;
}