@import '~meyer-reset-scss';

html {
    background: $grey-80;
    font-size: 62.5%;
    padding: $unit * 2;
}

body {
    font-family: system-ui, -apple-system, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 1.4rem;
    
    &.no-scroll {
        overflow: hidden;
    }
}

a {
    text-decoration: none;
}

button, input {
    font-family: system-ui, -apple-system, Helvetica Neue, Helvetica, Arial, sans-serif;
}

h1, h2, h3, p {
    color: $grey-00;
}

h1 {
    font-size: 2.1rem;
    font-weight: 500;
    text-align: center;
}

#Content {
    display: flex;
    flex-direction: column;
    gap: $unit * 3;
    margin-top: $unit * 3;
}

// #NotFound {
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     margin-top: 40px;
// }

// #NotFound h2 {
//     color: #444;
//     font-weight: 500;
// }