.PartyNavigation {
    display: flex;
    gap: 58px;
    justify-content: right;
    margin: 0 auto;
    max-width: 760px;
}

.Extra {
    color: #888;
    display: flex;
    font-weight: 500;
    gap: 8px;
    line-height: 34px;
    height: 100%;
}