.UncapStar {
  background-repeat: no-repeat;
  background-size: 18px 18px;
  display: block;
  height: 18px;
  width: 18px;

  &:hover {
    transform: scale(1.2);
  }

  &.empty,
  &.empty.mlb,
  &.empty.flb,
  &.empty.ulb,
  &.empty.special {
    background: url('/icons/uncap/empty.svg');

    &:hover {
      background: url('/icons/uncap/empty-hover.svg');
    }
  }

  &.mlb {
    background: url('/icons/uncap/yellow.svg');

    &:hover {
      background: url('/icons/uncap/yellow-hover.svg');
    }
  }

  &.special {
    background: url('/icons/uncap/red.svg');

    &:hover {
      background: url('/icons/uncap/red-hover.svg');
    }
  }

  &.flb {
    background: url('/icons/uncap/blue.svg');

    &:hover {
      background: url('/icons/uncap/blue-hover.svg');
    }
  }

  &.ulb {
    background: url('/icons/uncap/purple.svg');

    &:hover {
      background: url('/icons/uncap/purple-hover.svg');
    }
  }
}
