.Token {
  background: var(--input-bg);
  border-radius: 99px;
  display: inline;
  font-size: $font-small;
  font-weight: $medium;
  min-width: 3rem;
  text-align: center;
  padding: $unit-half $unit;
}
