#MainGrid {
  display: flex;
  justify-content: center;

  @include breakpoint(phone) {
    display: grid;
    grid-template-columns: 1fr auto;
  }

  .grid_weapons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin: 0;
    padding: 0;
    max-width: 528px;
  }
}

#MainGrid,
#ExtraGrid {
  .grid_weapons > * {
    margin-bottom: $unit-3x;
    margin-right: $unit-3x;

    @include breakpoint(tablet) {
      margin-bottom: $unit-2x;
      margin-right: $unit-2x;
    }

    @include breakpoint(tablet) {
      margin-bottom: $unit;
      margin-right: $unit;
    }

    &:nth-last-child(-n + 3) {
      margin-bottom: 0;
    }
  }

  .grid_weapons > *:nth-child(3n + 3) {
    margin-right: 0;
  }

  .grid_weapons > li {
    list-style: none;
  }
}

#ExtraWeapons #grid_weapons > * {
  margin-bottom: 0;
}
