.content {
  .mastery {
    display: flex;
    flex-direction: column;
    gap: $unit;

    ul {
      display: flex;
      flex-direction: column;
      gap: $unit-half;

      .extendedMastery {
        align-items: center;
        display: flex;
        gap: $unit-half;

        img {
          width: $unit-3x;
        }

        strong {
          font-weight: $bold;
        }
      }
    }
  }

  .awakening {
    display: flex;
    flex-direction: column;
    gap: $unit;

    & > div {
      align-items: center;
      display: flex;
      gap: $unit-half;

      img {
        width: $unit-3x;
      }

      strong {
        font-weight: $bold;
      }
    }
  }

  // .Footer {
  //   position: sticky;
  //   bottom: 0;
  //   left: 0;
  // }
}
