.icon {
  display: inline-block;
  background-size: 60px 25px;
  height: 25px;
  width: 60px;

  /* Elements */

  &.fire.en {
    background-image: url('/labels/element/fire_en.png');
  }

  &.fire.ja {
    background-image: url('/labels/element/fire_ja.png');
  }

  &.water.en {
    background-image: url('/labels/element/water_en.png');
  }

  &.water.ja {
    background-image: url('/labels/element/water_ja.png');
  }

  &.earth.en {
    background-image: url('/labels/element/earth_en.png');
  }

  &.earth.ja {
    background-image: url('/labels/element/earth_ja.png');
  }

  &.wind.en {
    background-image: url('/labels/element/wind_en.png');
  }

  &.wind.ja {
    background-image: url('/labels/element/wind_ja.png');
  }

  &.dark.en {
    background-image: url('/labels/element/dark_en.png');
  }

  &.dark.ja {
    background-image: url('/labels/element/dark_ja.png');
  }

  &.light.en {
    background-image: url('/labels/element/light_en.png');
  }

  &.light.ja {
    background-image: url('/labels/element/light_ja.png');
  }

  &.null.en {
    background-image: url('/labels/element/any_en.png');
  }

  &.null.ja {
    background-image: url('/labels/element/any_ja.png');
  }

  /* Proficiencies */

  &.sword.en {
    background-image: url('/labels/proficiency/sabre_en.png');
  }

  &.sword.ja {
    background-image: url('/labels/proficiency/sabre_ja.png');
  }

  &.dagger.en {
    background-image: url('/labels/proficiency/dagger_en.png');
  }

  &.dagger.ja {
    background-image: url('/labels/proficiency/dagger_ja.png');
  }

  &.axe.en {
    background-image: url('/labels/proficiency/axe_en.png');
  }

  &.axe.ja {
    background-image: url('/labels/proficiency/axe_ja.png');
  }

  &.spear.en {
    background-image: url('/labels/proficiency/spear_en.png');
  }

  &.spear.ja {
    background-image: url('/labels/proficiency/spear_ja.png');
  }

  &.staff.en {
    background-image: url('/labels/proficiency/staff_en.png');
  }

  &.staff.ja {
    background-image: url('/labels/proficiency/staff_ja.png');
  }

  &.fist.en {
    background-image: url('/labels/proficiency/melee_en.png');
  }

  &.fist.ja {
    background-image: url('/labels/proficiency/melee_ja.png');
  }

  &.harp.en {
    background-image: url('/labels/proficiency/harp_en.png');
  }

  &.harp.ja {
    background-image: url('/labels/proficiency/harp_ja.png');
  }

  &.gun.en {
    background-image: url('/labels/proficiency/gun_en.png');
  }

  &.gun.ja {
    background-image: url('/labels/proficiency/gun_ja.png');
  }

  &.bow.en {
    background-image: url('/labels/proficiency/bow_en.png');
  }

  &.bow.ja {
    background-image: url('/labels/proficiency/bow_ja.png');
  }

  &.katana.en {
    background-image: url('/labels/proficiency/katana_en.png');
  }

  &.katana.ja {
    background-image: url('/labels/proficiency/katana_ja.png');
  }
}
