.Transcendence.Popover {
  align-items: center;
  flex-direction: column;
  gap: $unit-half;
  display: flex;
  width: $unit-10x;
  height: $unit-10x;
  padding: $unit;
  justify-content: center;
  z-index: 32;

  &.open {
    opacity: 1;
    display: flex;
  }

  h4 {
    font-size: $font-small;
    font-weight: $medium;
  }

  .Pending {
    color: $yellow;
  }
}
