.Transcendence.Popover {
  align-items: center;
  flex-direction: column;
  gap: $unit-half;
  display: flex;
  width: 80px;
  height: 80px;
  padding: $unit;
  justify-content: center;
  // position: absolute;
  z-index: 32;
  // top: -32px;
  // right: -40px;

  &.open {
    opacity: 1;
    display: flex;
  }

  h4 {
    font-size: $font-small;
    font-weight: $medium;
  }

  .Pending {
    color: $yellow;
  }
}
