.Dialog {
  .Filter.DialogContent {
    overflow: hidden;

    .TableField .Right .SelectTrigger.Table {
      width: $unit-20x;
      min-width: auto;
    }
  }

  .DialogFooter .Buttons .Button.Blended {
    padding-left: 0;
    padding-right: 0;
  }
}
