section.Error {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: $unit;
  margin: 0 auto;
  max-width: 50vw;
  justify-content: center;
  height: 60vh;
  text-align: center;

  .Code {
    color: var(--text-secondary);
    font-size: $font-tiny;
    font-weight: $bold;
  }

  .Button {
    margin-top: $unit-2x;
    width: fit-content;
  }
}
