// Breakpoints
$breakpoints: (
	small: 320px,
	medium: 800px,
	large: 1024px
);

$desktop: 1920px;
$laptop: 1280px;
$tablet: 768px;
$phone: 375px;

$grid-width: 720px;
$rep-height: 111px;

// Legacy
$medium-screen: 768px;

// Sizing
$unit: 8px;

$unit-fourth: calc($unit / 4);
$unit-half: calc($unit / 2);
$unit-three-fourth: calc($unit / 4) * 3;
$unit-2x: $unit * 2;
$unit-3x: $unit * 3;
$unit-4x: $unit * 4;
$unit-5x: $unit * 5;
$unit-6x: $unit * 6;
$unit-8x: $unit * 8;
$unit-10x: $unit * 10;
$unit-12x: $unit * 12;
$unit-14x: $unit * 14;
$unit-20x: $unit * 20;
