#Header #Bar select {
  background-color: $grey-90;
}
#Header label {
  margin: 0 $unit * 3;

  .Input {
    border: 1px solid $grey-80;
    border-radius: calc($unit / 1.5);
    box-sizing: border-box;
    font-size: $font-regular;
    padding: $unit * 1.5;
    text-align: left;
    width: 100%;
  }
}
