.SelectTrigger {
  align-items: center;
  background-color: var(--input-bg);
  border-radius: $input-corner;
  border: 2px solid transparent;
  display: flex;
  gap: $unit;
  padding: ($unit * 1.5) $unit-2x;

  &.modal {
    background-color: var(--select-modal-bg);

    &:hover {
      background-color: var(--select-modal-bg-hover);
    }
  }

  &.hidden {
    display: none;
  }

  &:hover {
    background-color: var(--input-bg-hover);
    color: var(--text-primary);
    cursor: pointer;

    &[data-placeholder] > span:not(.SelectIcon) {
      color: var(--text-primary);
    }
  }

  &.Disabled:hover {
    background-color: var(--input-bg);
    cursor: not-allowed;
  }

  &[data-placeholder='true'] > span:not(.SelectIcon) {
    color: var(--text-secondary);
  }

  & > span:not(.SelectIcon) {
    color: var(--text-primary);
    flex-grow: 1;
    font-size: $font-regular;
    text-align: left;
  }

  &.Bound {
    background-color: var(--select-contained-bg);

    &:hover {
      background-color: var(--select-contained-bg-hover);
    }
  }

  &.Table {
    min-width: $unit * 30;
  }

  img {
    width: $unit-4x;
    height: auto;
  }

  .SelectIcon {
    display: flex;
    align-items: center;

    svg {
      fill: var(--icon-secondary);
    }
  }
}

.Select {
  background: var(--dialog-bg);
  border-radius: $card-corner;
  border: $hover-stroke;
  box-shadow: $hover-shadow;
  padding: 0 $unit;
  z-index: 40;
  min-width: var(--radix-select-trigger-width);
  .Scroll.Up,
  .Scroll.Down {
    padding: $unit 0;
    text-align: center;

    &:hover svg {
      fill: var(--icon-secondary-hover);
    }

    svg {
      fill: var(--icon-secondary);
    }
  }

  .Scroll.Up {
    transform: scale(1, -1);
  }
}
