.filterBar {
  align-items: center;
  background: var(--bar-bg);
  border-radius: $card-corner;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  gap: $unit-2x;
  margin: 0 auto;
  margin-top: 7px; // Line up with HeaderMenu
  padding: $unit * 2;
  position: sticky;
  transition: box-shadow 0.24s ease-in-out;
  top: $unit * 4;
  width: 100%;
  max-width: 996px;
  min-height: 80px;

  @include breakpoint(tablet) {
    position: static;
    flex-direction: column;
    width: 100%;
  }

  @include breakpoint(phone) {
    min-height: auto;
  }

  .filters {
    display: flex;
    box-sizing: border-box;
    flex-direction: row;
    gap: $unit;
    width: auto;

    @include breakpoint(tablet) {
      flex-direction: column;
      width: 100%;
    }
  }

  &.shadow {
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.14);
  }

  h1 {
    color: var(--text-primary);
    font-size: $font-regular;
    font-weight: $normal;
    flex-grow: 1;
    text-align: left;
  }

  .SelectTrigger {
    width: 100%;

    span {
      font-size: $font-small;
    }
  }

  .UserInfo {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    gap: $unit * 1.5;

    img {
      $diameter: $unit * 6;
      border-radius: calc($diameter / 2);
      height: $diameter;
      width: $diameter;

      &.gran {
        background-color: #cee7fe;
      }

      &.djeeta {
        background-color: #ffe1fe;
      }
    }
  }
}
