.FilterBar {
  align-items: center;
  background: var(--bar-bg);
  border-radius: $card-corner;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  gap: $unit-2x;
  margin: 0 auto;
  margin-top: 7px; // Line up with HeaderMenu
  padding: $unit * 2;
  position: sticky;
  transition: box-shadow 0.24s ease-in-out;
  top: $unit * 4;
  width: 100%;
  max-width: 996px;
  min-height: 80px;

  @include breakpoint(tablet) {
    position: static;
    flex-direction: column;
    width: 100%;
  }

  @include breakpoint(phone) {
    min-height: auto;
  }

  .Filters {
    display: flex;
    box-sizing: border-box;
    flex-direction: row;
    flex-grow: 1;
    gap: $unit;
    width: auto;

    @include breakpoint(tablet) {
      flex-direction: column;
      width: 100%;
    }

    .Button.Filter.Blended {
      &.FiltersActive .Accessory svg {
        fill: var(--accent-blue);
        stroke: none;
      }

      &:hover {
        background: var(--button-bg);
      }

      .Accessory svg {
        fill: none;
        stroke: var(--button-text);
        width: 18px;
        height: 18px;
      }
    }
  }

  &.shadow {
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.14);
  }

  h1 {
    color: var(--text-primary);
    font-size: $font-regular;
    font-weight: $normal;
    flex-grow: 1;
    text-align: left;
  }

  select,
  .SelectTrigger {
    // background: url("/icons/Chevron.svg"), $grey-90;
    // background-repeat: no-repeat;
    // background-position-y: center;
    // background-position-x: 95%;
    // background-size: $unit * 1.5;
    background-color: var(--select-contained-bg);
    font-size: $font-small;
    margin: 0;
    max-width: 200px;

    &:hover {
      background-color: var(--select-contained-bg-hover);
    }

    @include breakpoint(tablet) {
      width: 100%;
      max-width: inherit;
      text-align: center;
    }
  }

  .SelectTrigger {
    width: 100%;

    span {
      font-size: $font-small;
    }
  }

  .Filter.Button {
    justify-content: center;

    .Text {
      display: none;
      width: auto;

      @include breakpoint(tablet) {
        display: block;
      }

      @include breakpoint(phone) {
        display: block;
      }
    }
  }

  .UserInfo {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    gap: $unit * 1.5;

    img {
      $diameter: $unit * 6;
      border-radius: calc($diameter / 2);
      height: $diameter;
      width: $diameter;

      &.gran {
        background-color: #cee7fe;
      }

      &.djeeta {
        background-color: #ffe1fe;
      }
    }
  }
}
