.Fieldset textarea {
  $offset: 2px;

  background-color: var(--input-bg);
  border: $offset solid transparent;
  border-radius: $input-corner;
  box-sizing: border-box;
  color: var(--text-primary);
  display: block;
  line-height: 21px;
  -webkit-font-smoothing: antialiased;
  padding: $unit-2x calc($unit-2x - $offset);

  &:focus-within {
    border: $offset solid $blue;
    outline: none;
  }
}
