.Header {
    display: flex;
    height: 48px;
    width: 100%;
}

.Header .right button:first-child {
    margin-right: 8px;
}

.Header .push {
    margin-left: auto;
}

.dropdown {
    display: inline-block;
    position: relative;
}

.dropdown:hover {
    padding-right: 50px;
    padding-bottom: 16px;
}

.dropdown:hover .Button > * {
    color: #555;
}

.dropdown:hover .Menu {
    display: block;
}