.Character.HovercardContent {
  .title .Image {
    position: relative;

    .Perpetuity {
      position: absolute;
      background-image: url('/icons/perpetuity/filled.svg');
      background-size: $unit-3x $unit-3x;
      z-index: 20;
      top: $unit-half * -1;
      right: $unit-3x;
      width: $unit-3x;
      height: $unit-3x;
    }
  }

  .Mastery {
    display: flex;
    flex-direction: column;
    gap: $unit;

    ul {
      display: flex;
      flex-direction: column;
      gap: $unit-half;

      .ExtendedMastery {
        align-items: center;
        display: flex;
        gap: $unit-half;

        img {
          width: $unit-3x;
        }

        strong {
          font-weight: $bold;
        }
      }
    }
  }

  .Awakening {
    display: flex;
    flex-direction: column;
    gap: $unit;

    & > div {
      align-items: center;
      display: flex;
      gap: $unit-half;

      img {
        width: $unit-3x;
      }

      strong {
        font-weight: $bold;
      }
    }
  }

  // .Footer {
  //   position: sticky;
  //   bottom: 0;
  //   left: 0;
  // }
}
