.grid {
  display: grid;
  grid-template-columns: 1.17fr 2fr 1.17fr;
  gap: $unit-3x;
  justify-content: center;
  margin: 0 auto;
  max-width: $grid-width;

  @include breakpoint(tablet) {
    gap: $unit-2x;
  }

  @include breakpoint(phone) {
    gap: $unit;
  }

  & .label {
    color: $grey-55;
    font-size: $font-tiny;
    font-weight: $medium;
    margin-bottom: $unit;
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

    @include breakpoint(phone) {
      &.friend {
        max-width: 78px;
      }
    }
  }

  .summons {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-template-rows: repeat(2, minmax(0, 1fr));
    gap: $unit-3x;

    @include breakpoint(tablet) {
      gap: $unit-2x;
    }

    @include breakpoint(phone) {
      gap: $unit;
    }

    & > li {
      list-style: none;
    }
  }
}
