.PartyNavigation {
  align-items: center;
  display: flex;
  gap: 58px;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: $unit * 3;
  max-width: 760px;
  position: relative;

  @media (max-width: $phone) {
    gap: $unit;
    margin-left: 0;
    margin-right: 0;
    padding: 0 $unit;
    max-width: auto;
    width: 100%;

    &.Editable {
      justify-content: flex-start;
    }

    .SegmentedControl {
      flex-grow: 1;
    }
  }
}

.ExtraSwitch {
  color: #888;
  display: flex;
  font-weight: $normal;
  gap: 8px;
  line-height: 34px;
  height: 100%;
  position: absolute;
  right: 0px;

  @media (max-width: $phone) {
    position: static;

    .Text {
      display: none;
    }
  }
}
