.PartyNavigation {
    display: flex;
    gap: 58px;
    justify-content: center;
    margin: 0 auto;
    max-width: 760px;
    position: relative;
}

.Extra {
    color: #888;
    display: flex;
    font-weight: 500;
    gap: 8px;
    line-height: 34px;
    height: 100%;
    position: absolute;
    right: 0px;
}