.EditTeam.DialogContent {
  min-height: 80vh;

  .Container.Scrollable {
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  .Content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: $unit-2x;
  }

  .Fields {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: $unit;
  }

  .ExtraNotice {
    background: var(--extra-purple-bg);
    border-radius: $input-corner;
    color: var(--extra-purple-text);
    font-weight: $medium;
    padding: $unit-2x;
  }

  .DescriptionField {
    display: flex;
    flex-direction: column;
    justify-content: inherit;
    gap: $unit;
    flex-grow: 1;

    .Left {
      flex-grow: 0;
    }

    textarea.Input {
      flex-grow: 1;

      &::placeholder {
        color: var(--text-secondary);
      }
    }

    .Image {
      display: none;
    }
  }
}
