#ExtraSummons {
  background: var(--subaura-orange-bg);
  border-radius: 8px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  margin: 20px auto;
  max-width: 727px;
  padding: 16px 16px 16px 0;
  position: relative;
  left: 9px;

  @include breakpoint(phone) {
    left: auto;
    max-width: auto;
    width: 100%;
  }

  & > span {
    color: var(--subaura-orange-text);
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1.2;
    font-weight: 500;
    margin-right: 16px;
    text-align: center;
    width: 387px;
  }

  #grid_summons {
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: $unit * 2;
    grid-template-rows: 1fr;
    grid-row-gap: $unit * 3;

    & > li {
      list-style: none;
      min-height: 0;

      .SummonUnit {
        min-height: 0;
      }
    }
  }

  .SummonUnit .SummonImage {
    background: var(--subaura-orange-card-bg);
  }

  .SummonUnit .SummonImage .icon svg {
    fill: var(--subaura-orange-secondary);
  }
}
