.WeaponUnit {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: $unit-half;
  position: relative;
  width: 100%;
  height: auto;
  z-index: 0;

  @include breakpoint(tablet) {
    min-height: auto;
  }

  .Button {
    pointer-events: none;
    opacity: 0;
    z-index: 10;
  }

  &:hover .Button,
  .Button.Clicked {
    pointer-events: initial;
    opacity: 1;
  }

  &.editable .WeaponImage:hover {
    border: $hover-stroke;
    box-shadow: $hover-shadow;
    cursor: pointer;
    transform: $scale-wide;
  }

  &.empty {
    min-height: auto;
  }

  &.mainhand {
    display: flex;

    &.editable .WeaponImage:hover {
      transform: $scale-tall;
    }

    .WeaponImage {
      width: 100%;
      height: auto;

      .Awakening {
        width: 40%;
        height: auto;
        top: 67%;
        left: -3.5%;
      }

      .Modifiers > .Skills {
        bottom: 12%;
        right: -3.5%;

        & > .Skill {
          width: 25%;
          height: auto;
        }
      }
    }
  }

  &.grid {
    .WeaponImage {
      list-style-type: none;
      width: 100%;
      height: auto;

      .Awakening {
        width: 30%;
        height: auto;
        top: 14%;
        left: -3.5%;
      }

      .Modifiers > .Skills {
        bottom: 12%;
        left: -3.5%;

        & > .Skill {
          width: 20%;
          height: auto;
        }
      }
    }
  }

  &.filled h3 {
    display: block;
  }

  &.filled ul {
    display: flex;
  }

  & h3,
  & ul {
    display: none;
  }

  h3 {
    color: var(--text-primary);
    font-size: $font-button;
    font-weight: $normal;
    line-height: 1.1;
    margin: 0;
    text-align: center;
  }

  .WeaponImage {
    background: var(--card-bg);
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: $unit;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: calc($unit / 4);
    overflow: hidden;
    position: relative;
    transition: all 0.18s ease-in-out;

    &:hover .icon svg {
      fill: var(--icon-secondary-hover);
    }

    .Awakening {
      width: 100%;
      height: 100%;
      position: absolute;
      z-index: 3;
    }

    .Modifiers {
      display: flex;
      align-items: flex-end;
      width: 100%;
      height: 100%;
      position: absolute;
      z-index: 3;

      .Skills {
        display: flex;
        gap: $unit-fourth;
        justify-content: flex-end;
        padding: $unit-half;
        width: 100%;
      }
    }

    img {
      position: relative;
      width: 100%;
      z-index: 2;

      &.Placeholder {
        opacity: 0;
      }
    }

    .icon {
      position: absolute;
      height: $unit * 3;
      width: $unit * 3;
      z-index: 1;

      svg {
        fill: var(--icon-secondary);
      }
    }
  }

  .WeaponName {
    @include breakpoint(phone) {
      font-size: $font-tiny;
    }
  }
}
