.SegmentedControlWrapper {
    display: flex;
    justify-content: center;
    margin-bottom: $unit * 3;
}

.SegmentedControl {
    background: white;
    border-radius: $unit;
    display: inline-flex;
    position: relative;
    user-select: none;
    overflow: hidden;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    z-index: 1;
}

@include media('>small', '<=medium') {
    .SegmentedControlWrapper {
        justify-content: stretch;
    }
    
    .SegmentedControl {
        width: 100%;
    }
}