.Search.Dialog {
    display: flex;
    flex-direction: column;
    min-height: 431px;
    width: 600px;
    gap: 0;
    padding: 0;

    #Header {
        border-top-left-radius: $unit;
        border-top-right-radius: $unit;
        display: flex;
        gap: $unit * 2.5;
        margin: 0;
        padding: ($unit * 3) ($unit * 3) ($unit * 2) ($unit * 3);
        position: sticky;
        top: 0;

        button {
            background: transparent;
            border: none;
            height: 42px;
            padding: 0;
        }

        label {
            width: 100%;

            .Input {
                border: 1px solid $grey-70;
                border-radius: $unit / 2;
                box-sizing: border-box;
                font-size: $font-regular;
                padding: $unit * 1.5;
                text-align: left;
                width: 100%;
            }
        }
    }

    #Results {
        margin: 0;
        max-height: 330px;
        padding: $unit ($unit * 1.5);
        overflow-y: scroll;
    }
}

.Search.Dialog #NoResults {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

.Search.Dialog #NoResults h2 {
    color: #ccc;
    font-size: $font-large;
    font-weight: 500;
    margin-top: -32px;
}