.Modal.Search {
    display: flex;
    flex-direction: column;
    min-height: 420px;
    min-width: 600px;
    padding: 0;

    #ModalHeader {
        background: $grey-90;
        gap: $unit;
        margin: 0;
        padding: ($unit * 3) ($unit * 3) ($unit * 1.5) ($unit * 3);
        position: sticky;
        top: 0;

        button {
            background: transparent;
            border: none;
            height: 42px;
            padding: 0;

            svg {
                height: 24px;
                width: 24px;
                vertical-align: middle;
            }
        }

        label {
            width: 100%;

            .Input {
                border: 1px solid $grey-70;
                border-radius: $unit / 2;
                box-sizing: border-box;
                font-size: $font-regular;
                padding: $unit * 1.5;
                text-align: left;
                width: 100%;
            }
        }
    }
}

.Search.Modal #results_container {
    margin: 0;
    max-height: 330px;
    padding: 0 12px 12px 12px;
}

.Search.Modal #NoResults {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

.Search.Modal #NoResults h2 {
    color: #ccc;
    font-size: $font-large;
    font-weight: 500;
    margin-top: -32px;
}