.GuidebookResult {
  border-radius: 6px;
  display: flex;
  gap: $unit;
  padding: $unit * 1.5;

  &:hover {
    background: var(--button-contained-bg);
    cursor: pointer;

    .Info h5 {
      color: var(--text-primary);
    }
  }

  img {
    background: $grey-80;
    border-radius: 6px;
    display: inline-block;
    height: auto;
    width: 90px;
  }

  .Info {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: $unit-half;

    h5 {
      color: var(--text-tertiary);
      display: inline-block;
      font-size: $font-medium;
      font-weight: $medium;
    }
  }
}
