.GridRepCollection {
  display: grid;
  grid-template-columns: repeat(auto-fit, 332px);
  margin: 0 auto;
  padding: 0;
  transition: opacity 0.14s ease-in-out;
  // width: fit-content;
  max-width: 996px;
}
