.GridRepCollection {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  margin: 0 auto;
  padding: 0;
  transition: opacity 0.14s ease-in-out;
  justify-items: center;
  width: 100%;
  max-width: 996px;

  @include breakpoint(tablet) {
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    max-width: inherit;
  }

  @include breakpoint(phone) {
    grid-template-columns: 1fr;
    max-width: inherit;
    width: 100%;
  }
}
