.LoginForm {
    padding: 16px;
}

.LoginForm form {
    margin: 0;
}

.LoginForm .fieldset {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-bottom: 8px;
}

#ModalTop {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 16px;
    margin-right: -8px;
}

#ModalTop h1 {
    margin: 0;
    font-size: 24px;
    text-align: left;
    flex-grow: 1;
}

#ModalTop i {
    padding: 8px;
}

#ModalTop i:hover {
    cursor: pointer;
}

#ModalTop svg {
    color: #888;
    height: 18px;
    width: 18px;
    transform: rotate(45deg);
}

#ModalBottom {
    display: flex;
    flex-direction: row;
}

#ModalBottom a {
    color: #666;
    font-size: 13px;
    font-weight: 500;
    flex-grow: 1;
    display: flex;
    align-items: center;
}

#ModalBottom .Button {
    min-width: 88px;
}
